.navbar-brand{
    font-size: 1.5rem !important;
}

.nav-link{
    font-size: 1.2rem !important;
    vertical-align: bottom !important;
    padding-bottom: 0.35rem !important;
    opacity: 0.8;
}

.nav-link:hover{
    opacity: 0.9;
}

.navbar-right {
    float: right !important;
  }

.login,.register{
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    opacity: 0.8 !important;
}

.login:hover,.register:hover{
    opacity: 0.9 !important;
}

.main-nav{
    background-color:rgba(13,16,23,1) !important;
    padding-left:0 !important;
    position: fixed ; 
    top: 0 ;
    z-index: 3;
    width: 100%;
}

.nav-name{
    margin-left:0 !important;
}

.nav-container{
    margin-left:2.3% !important;
}
